<div class="form-container">

  <h1 class="title"> 
    ADD SKILL 
    <div *ngIf="user.admin">
      <app-modal></app-modal>
    </div>
    
  </h1>
  
  <form [formGroup]="skillForm" (submit)="submit()">
    
    <div class="skills-table">

        <div class="form-group search">
            <input 
                class="input" 
                type="search" 
                placeholder="search skill..."
                autofocus
                (keyup)="filter = $event.target.value">
            <i class="fa fa-search ml-1"></i>
        </div>
 
      <table>
        <div class="oi">
          <tr *ngFor="let skill of skills | filterBySkill: filter">
            <td> 
              <div class="wrapper">
                <input 
                  formControlName="habilidade_id"
                  class="state" 
                  type="radio" 
                  [id]="skill.habilidade" 
                  [value]="skill.id">
                <label 
                  class="label"
                  [for]="skill.habilidade">
                  <div class="indicator"></div>
                  <span class="text"> {{ skill.habilidade }} </span>
                </label>
                <button 
                  (click)="excluirHabilidade(skill)"
                  type="button"> 
                  <i *ngIf="user.admin" class="fa fa-trash-o" aria-hidden="true"></i> 
                </button>
                
              </div>
            </td>
            
            <td>
              <app-skills> </app-skills>
            </td>
            
          </tr>
        </div>
            
      </table>
    </div>
     

      <div class="form-group">
        <label for="nivel">Nivel</label>
        <input 
          formControlName="nivel"
          class="form-control" 
          placeholder="Skill level">
          <app-vmessage 
                *ngIf="skillForm.get('nivel').errors?.required"
                texto="Skill level is required">
            </app-vmessage>   
      </div>

      <div class="btn-container">
        <button [disabled]="skillForm.invalid" type="submit" class="btn">
          Upload
        </button>

        <a href="/" class="btn"> Cancel </a>
      </div>


  </form>
</div> 
