.modal-container {
    padding: 2rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebf5fc;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
app-vmessage {
    margin-bottom: 1.5rem;
}
.title {
    color: #293241;
    text-align: center;
    font-weight: 200;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
.fa {
    margin-left: 10px;
}
.btn {
    width: 300px;
    height: 55px;
    background: #ebf5fc;
    border-radius: 25px;
    color: #32a3b1;
    font-size: 1.5rem;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}
.btn:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15);  
}
.form-group {
    margin: 1.5rem 0;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: #ebf5fc;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
                6px 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;          
    align-items: center;
}
.input {
    background: none;
    border: none;
    margin-left: 1.2rem;
    width: 100%;
}
.input:focus {
    outline-width: 0;
} 