<div class="bg-top"></div>

<div class="profile">
    
    <div class="profile-container">
        <div class="profile-pic">
            <i class="fa fa-user" aria-hidden="true"></i>
            <h2 class="subtitle subtitle-profile"> {{ nome }} </h2>
        </div>
    </div>

    <div class="aboutme-container">
        <p class="subtitle"> About me </p>
        <!-- <h4> @{{ user }} </h4> --> 
        <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquid pariatur, ipsum necessitatibus saepe porro! Reiciendis officia voluptatem ab amet?</h4>
    </div>
    
    <div class="extra-container">
        <p class="subtitle"> Extra info </p> 
        <h4 class="extra"> @{{ user }} </h4>
        <h4 class="extra"> {{ email }} </h4>
    </div>
    
    
</div>
<div class="bg-bottom"></div>