
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Users</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
    </tr>
  </thead>

  
  <tbody>
    <tr *ngFor="let user of users">
      <td><p-user [ids]="user.id"></p-user></td>
      <td><p-user [users]="user.user"></p-user></td>
      <td><p-user [nomes]="user.nome"></p-user></td>
      <td><p-user [emails]="user.email"></p-user></td>
      <td><p-user [senhas]="user.senha"></p-user></td>
    </tr>
  </tbody>
</table>