.page-container {
    width: 100%;
} 
.grid-container {
    display: flex;
    justify-content: space-between;
}
.main {
    display: flex;
    justify-content: space-between;
}
.skills-container {
    margin: 2rem 5rem;
}
h1 {
    color: #293241;
    font-size: 5rem;
}
span {
    font-weight: 100;
}
.dados {
    background-color: fff;
    margin-right: 1rem;
}
.subtitle {
    color: #32a3b1;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.subtitle-profile {
    color: #fff;
}

.add-container {
    width: 55rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
p {
    color: #4C4C4C;
    font-weight: 500;
    font-size: 1.2rem;
}
.fa.fa-plus-circle{
    font-size: 5rem;
    color: #4C4C4C;
}