@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
.title {
    color: #ebf5fc;
    font-size: 40px;
    font-weight: 400;
    font-weight: 500;
    text-transform: uppercase;
    margin: 7rem 10rem;
    text-align: center;
}
.form-container {  
    display: flex;
    margin: 0 auto 0 -20rem;
}
.home-container {
    background: #32a3b1;
    width: 40%;
    height: 100vh;
    z-index: 9999999;
}
.signin-container {
    width: 60%;
    height: 100vh;
    padding: 13rem 0;
    background: #ebf5fc;
}
